/*
SHOW ITEM STYLE
Estilo lista de artículos.

Autor: Pablo Pizarro R. @ppizarror.com
Copyright 2018, no copiar o distribuír sin permiso directo del autor.
*/

.list-item-name {
    font-weight: 500;
    padding-left: 5px;
    padding-top: 3px !important;
}

.list-item-text {
    font-weight: 400;
    padding-left: 5px;
    padding-top: 3px !important;
}

.list-item-description {
    font-weight: 400;
    padding-left: 5px;
    padding-top: 0 !important;
}

.show-item-small-pic {
    cursor: pointer;
    display: block;
    float: left;
    padding: inherit;
}

.show-item-small-pic > img {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    height: 120px;
    margin: 10px;
    width: 120px;
}

.show-item-gallery {
    display: inline-block;
    margin-left: 10%;
    max-width: 600px;
    padding-right: 5px;
    width: 80%;
}

.show-item-email:hover {
    text-decoration: none;
}