/*
RECICLA2
Contenedores.

Autor: Pablo Pizarro R. @ppizarror.com
Copyright 2018, no copiar o distribuír sin permiso directo del autor.
*/

.ui-container {
    background-color: #ffffff;
    display: block;
    float: left;
    margin: 10px auto;
}